use crate::context::Context;
use anyhow::Result;

pub async fn run(context: Context) -> Result<()> {
    let client = {{ progenitor_crate_name }}::Client::new_with_client(
        &context.base_url,
        context.client.clone(),
    );
    let cli = {{ progenitor_crate_name }}::cli::Cli::new(client, context);
    let matches = build_command().get_matches();
    if let Some((name, matches)) = matches.subcommand() {
        if let Some(cmd) = {{ progenitor_crate_name }}::cli::CliCommand::iter()
            .find(|cmd| cmd.operation_id() == name)
        {
            cli.execute(cmd, matches).await
        } else {
            unreachable!("clap returned an unknown generated command: {name}")
        }
    } else {
        build_command().print_help()?;
        println!();
        Ok(())
    }
}

fn build_command() -> clap::Command {
    let mut command = clap::Command::new("{{ bin_name }}").about("Generated API CLI");
    for cmd in {{ progenitor_crate_name }}::cli::CliCommand::iter() {
        command = command.subcommand({{ progenitor_crate_name }}::cli::Cli::<Context>::get_command(cmd).name(cmd.operation_id()));
    }
    command
}
